@use "global" as *;

.contact{
    background-color: #fff;
}

.contact__contents{
    max-width: rem(600);
    margin: auto;
    background-color: $white;
}

.contact__contents--color{
    background-color: #fffff0;
}

.contact__mv img{
    aspect-ratio: 600/320;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact__wrapper{
    margin-top: rem(50);
    padding: 0 rem(30);
}

.contact__error {
    display: none;
    color: red; /* エラーメッセージのテキスト色を設定 */
}
  